.navheader{
    height: 12%;
    width: 100%;
    background-color: #335AA5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.navheader img{
    width: 60%;
    height: 60%;
}