#login{
    background-image: url('../image/template.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 12% 82% 6%;
    grid-template-areas: 
    'headerLogin headerLogin headerLogin'
    'mainLogin mainLogin mainLogin'
    'x footerLogin z';
    padding: 0px;
    margin: 0px;
}