#button-form{
    width: 50%;
    color: black;
}
.on{
    background-color: #335ba5e3;
    border-color: rgba(0, 0, 0, 0.37);
    border-radius: 2px;
    font-size: 1.2em;
    border: none;
    font-style: unset;
}
.off{
    color: rgba(255, 255, 255, 0.384);
    cursor: pointer;
    border: none;
    font-size: 1.0em;
}